<%-include('../cabecalho.ejs');%>
   <form method="post" enctype="multipart/form-data">
       Nome: <input type="text" name="nome" 
        placeholder="Digite o nome da marca"><br>
       Logo: <input type="file" name="logo"><br>
       <input type="submit" value="Enviar">
   </form> 
<%-include('../rodape.ejs');%>