<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Página Inicial</h1>
    <ul>
        <li>
            <a href="/usuario">Listagem de usuários</a>
        </li>
        <li>
            <a href="/usuario/add">Adicionar usuários</a>
        </li>
        <li>
            <a href="/integrante">Listagem de integrantes</a>
        </li>
        <li>
            <a href="/integrante/add">Adicionar integrantes</a>
        </li>
        <li>
            <a href="/projeto">Listagem de projetos</a>
        </li>
        <li>
            <a href="/projeto/add">Adicionar projetos</a>
        </li>
    </ul>
</body>
</html>